:root {
  --bg-color: bisque;
  --decol: 2rem;
}

.rgpd-acceptance-theme .rgpd--container {
  position: sticky;
  bottom: var(--decol);
  background-color: aquamarine;
  visibility: hidden;
}

.rgpd-acceptance-theme .rgpd--banner {
  visibility: visible;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 1rem;
  background-color: var(--bg-color);
  box-shadow: 0px 13px 11px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 13px 11px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 13px 11px -5px rgba(0, 0, 0, 0.75);
}
.rgpd-acceptance-theme .rgpd--banner.full {
  max-width: 500px;
}
.rgpd-acceptance-theme .rgpd--banner.mini {
  max-width: 80px;
  align-items: center;
}

.rgpd-acceptance-theme .rgpd--container .rgpd--banner {
  margin-left: var(--decol);
}

.rgpd-acceptance-theme .rgpd--header {
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 1rem;
  align-items: center;
}

.rgpd-acceptance-theme .rgpd--icon {
  font-size: xx-large;
  line-height: 2rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.rgpd-acceptance-theme .rgpd--title {
  font-size: 1.2rem;
  font-weight: 600;
}

.rgpd-acceptance-theme .rgpd--cookies-list {
  display: flex;
  flex-direction: column;
}

.rgpd-acceptance-theme .rgpd--cookies-list > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(2px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(2px * var(--tw-divide-y-reverse));
}

.rgpd-acceptance-theme .rgpd--cookies-list > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-opacity: 0.1;
  border-color: rgb(0 0 75 / var(--tw-divide-opacity));
}

.rgpd-acceptance-theme .rgpd--cookie-item {
  display: grid;
  list-style: none;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 0px 0.5rem;
}

.rgpd-acceptance-theme .rgpd--cookie-name {
  font-weight: 500;
}

.rgpd-acceptance-theme .rgpd--cookie-description {
  font-style: italic;
  font-size: 0.9rem;
}
.rgpd-acceptance-theme .rgpd--cookie-type {
  text-align: center;
}
.rgpd-acceptance-theme .rgpd--cookie-mandatory {
  font-style: italic;
  font-size: 0.9rem;
}

.rgpd-acceptance-theme .rgpd--cookie-checkzone {
  text-align: end;
}

.rgpd-acceptance-theme .rgpd--footer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  justify-content: flex-end;
}

.rgpd-acceptance-theme .rgpd--btn {
  border: 2px solid red;
  border-radius: 0.3rem;
  font-weight: 500;
  background-color: white;
  padding: 0rem 0.4rem;
  color: black;
}
.rgpd-acceptance-theme .rgpd--btn:hover {
  box-shadow: 0px 10px 5px -6px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 10px 5px -6px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 10px 5px -6px rgba(0, 0, 0, 0.75);
}

.rgpd-acceptance-theme .rgpd--btn.all {
  background-color: red;
  color: white;
}

.rgpd-acceptance-theme .rgpd--btn.some {
  background-color: orange;
}

.rgpd-acceptance-theme .rgpd--btn.none {
  background-color: aqua;
  border: 2px solid black;
}

.rgpd-acceptance-theme .rgpd--btn.choose {
  background-color: yellow;
  border: 2px solid black;
}

.rgpd-acceptance-theme .rgpd--btn.save {
  background-color: greenyellow;
  border: 2px solid black;
}

.rgpd-acceptance-theme .rgpd--link {
  font-weight: 500;
  text-decoration: underline;
}

.rgpd-acceptance-theme .rgpd--link:hover {
  text-decoration: none;
}

.rgpd-acceptance-theme .rgpd--blocker--container {
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  gap: 0.5rem;
  border-radius: 1rem;
  position: relative;
}

.rgpd-acceptance-theme .rgpd--blocker--container .rgpd--icon {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

.rgpd-acceptance-theme .rgpd--blocker--title {
  color: white;
  font-size: x-large;
  font-weight: 600;
}

.rgpd-acceptance-theme .rgpd--blocker--warn-message,
.rgpd-acceptance-theme .rgpd--blocker--cookie-description {
  color: white;
  text-align: center;
}

.rgpd-acceptance-theme .rgpd--blocker--cookie-description {
  font-weight: 500;
}

.rgpd-acceptance-theme .rgpd--blocker--warn-message {
  font-size: smaller;
}
